:root{
    --them-aqua-300: #0ba3b1;
    --them-aqua-500: #078490;
    --them-white: #fff;
    --theme-grey: #878787;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.main{
    width: calc(100% - 300px);
    margin-left: auto;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-6{
    width: 50%;
}

.col-2{
    width: 50%;
}

.d-flex{
    display: flex;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

/* tags */
img{
    width: 100%;
    display: block;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}



/* aside section start */ 
.aside{
    width: 300px;
    background-color:var(--them-aqua-300);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}

.aside::-webkit-scrollbar{
    width: 0px;
}


.aside .logo{
    text-align: center;
    padding-top: 3.5rem;
}

.aside .logo i{
    font-size: 26px;
    color: var(--them-white);
    padding: 1.5rem 0;
}

.aside .logo h2{
    font-size: 2rem;
    font-weight: 500;
    color: var(--them-white);
    margin-bottom: 3.5rem;
}

.aside nav ul li{
    padding-right: 10px;
    font-size: 21px;
    color: var(--them-white);
}

.aside nav ul li a{
    width: 100%; 
    font-size: 1.6rem;
    padding: .5rem;
}
 
.aside nav ul li i{
    margin-right: 1rem;
}


nav ul li:first-child{
    background-color: var(--them-white);
    color: var(--them-aqua-300);
    margin-right: 2rem;
    margin-left: 0px;
    padding-left: 2rem;
 }


.aside .aside-social-icon{
    margin: 2rem;
}

.aside .aside-social-icon a{
    text-align: center;
    background-color: var(--them-white);
    color: var(--them-aqua-300);
    padding: .5rem;
    margin: .5rem;
    font-size: 2rem;
}

.aside .aside-content p{
    padding: 2rem;
    margin: .5rem;
    font-size: 1.2rem;
    color: var(--them-white);
    line-height: 2;
}

/* aside section end */

/* main section start */

.blog-content{
    margin: 2rem;
}


.hr-1{
    margin: 3rem 0;
    border: 3px solid var(--them-aqua-500);
}

.search{
    padding: 2rem;
}

.search input{
    width: 50%;
    padding: 1rem 0;
    font-size: 1.3rem;
    border: 1px solid var(--them-aqua-300);
    outline: none;
}

.search i{
    margin-left: .5rem;
    padding: 1rem;
    background-color: var(--them-aqua-300);
    font-size: 2rem;
    color: var(--them-white);
}

.card{
    padding: 2rem;
}

.card h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--them-aqua-500);
}

.card p{
    font-weight: 400;
    color: var(--theme-grey);
    line-height: 2;
    word-spacing: 2px;
}

.footer{
   /* width: 100%;
    display: flex;
    flex-wrap: wrap;*/
    margin: 3rem 0;
}


.hr-2{
    margin: 1rem 0;
    border: 1px solid var(--theme-grey);
}

/* main section end */